<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>BiosBuddy</title>
</head>

<body>
    <header>
        <h1>BiosBuddy</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/registreren">Registreer</a></li>
                <li><a href="/login">login</a></li>
            </ul>
        </nav>
    </header>
    <section class="curtain">
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
    </section>

    <main>
        <section class="card">
            <article>
                <h2>Welkom</h2>
                <p>Op dé website voor film liefhebbers die graag hun tijd in de bioschoop doorbrengen.</p>
                <p>Het werkt als volgt:</p>
                <p>1. Maak een account aan<br /> 2. Log in <br /> 3. Kies jou favoriete film<br /> 4. Match een buddy<br /> 5. Spreek af om met je buddy naar de bioscoop te gaan!</p>
                <h4> Log snel in en vind jou BiosBuddy!</h4>
            </article>
        </section>
    </main>

</body>

</html>
