<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>BiosBuddy</title>
</head>

<body>
    <header>
        <h1>BiosBuddy</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/registreren">Registreer</a></li>
                <li><a href="/login">login</a></li>
            </ul>
        </nav>
    </header>
    <section class="curtain">
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
        <div class="halfCircleBottom"></div>
    </section>

    <main>
        <h1>404. Deze pagina bestaat niet.</h1>
    </main>

</body>

</html>
